@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap');

body {
    box-sizing: content-box;
    margin: auto;
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
}
/*---------------header-----------------*/

header {
  width: 100%;
  font-family: "Shrikhand";
  text-align: center;
  }

form {
  margin: auto;
	padding: 20px 0 20px 0;
  width: 100%;
  background-color: rgb(222, 222, 222);
  text-align: center;
}

.searchbar {
	border: none;
  text-align: center;
  background-color: rgb(222, 222, 222);
  font-size: 15px;
  color: black;
  width: 120px;
}

.searchbar:focus{
  outline: none;
}

.searchbar::placeholder{
  opacity: 1;
  color: black;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding: 30px 0 50px 0;
  background-color: rgb(232, 232, 232);
}

.presentation h2{
  margin: 0;
  padding-bottom: 10px;
  width: 90%;
  text-align: center;
}

.presentation p {
  margin: 0;
  padding-bottom: 25px;
  width: 90%;
  text-align: center;
}

.presentation a {
  border: none;
  border-radius: 30px;
  padding: 18px 30px 18px 30px;
  background-color: rgb(180, 133, 223);
  box-shadow: 0 5px 5px 5px rgba(128, 128, 128, 0.148);
  color: white;
  text-decoration: none;
}

.fonctionnement h2{
  margin: auto;
  margin-top: auto;
  width: 90%;
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.fonctionnement_liste {
  padding: 0%;
  padding-bottom: 10px;
}

.fonctionnement li {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 25px;
  padding: 8px 0 8px 0;
  width: 85%;
  box-shadow:0 5px 5px 5px rgba(86, 86, 86, 0.171);
  background-color: rgb(232, 232, 232);
}

.fonctionnement_liste .fas {
  margin: 0 20px 0 30px;
  text-decoration: none;
  color: rgb(156, 156, 156);
  font-size: 20px;
}

.fonct_nbr {
  position: absolute;
  left: -11px;
  border-radius: 100%;
  padding: 3px 8px;
  font-size: 18px;
  background-color: rgb(202, 113, 202);
  color: white;
}

main article {
  display: flex;
  flex-direction: column;
  padding: 50px 0 40px 0;
  width: 100%;
  background-color: rgb(217, 217, 217);
}

.restaurants h2 {
  margin: auto;
  width: 90%;
}

main a {
  text-decoration: none;
}

.selections_restaurants{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 30px;
  height: 250px;
  overflow: hidden;
  box-shadow:0 5px 5px 5px rgb(179, 179, 179);
  background-color: white;
}

.photo-resto{
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.selections_restaurants h3{
  margin: 20px 0 0 15px;
  color: black;
}

.selections_restaurants p {
  margin: 5px 0 0 15px;
  color: black;
}

figure i {
  position: absolute;
  right: 30px;
  bottom: 28px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.full-heart {
  font-size: 40px;
  opacity: 0;
}

.full-heart:active {
  opacity: 1;
  color: rgb(186, 51, 155);
}

footer {
  background-color: rgb(59, 59, 59);
  color: white;
}

footer h2 {
  margin: 0;
  padding: 20px 0 20px 20px;
  font-size: 20px;
  font-family: "Shrikhand";
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer ul {
  margin: 0;
  padding-bottom: 20px;
  padding-left: 20px;
  list-style-type: none;
}

footer li {
  padding-bottom: 10px;
}

.fa-utensils {
  padding-right: 15px;
}

.fa-handshake-angle {
  padding-right: 10px;
}

.header_cartes {
  position: relative;
}

.header_cartes i {
  position: absolute;
  top: 10px; 
  left: 20px;
  font-size: 25px;
}

.header_cartes h1{
  font-weight: bold;
  font-family: "Shrikhand";
  font-size: 30px;
  text-align: center;
}

.header_cartes a {
  text-decoration: none;
  color: #000000;
}

.photo-menus {
  width: 100%;
  max-height: 500px;
  min-height: 360px;
  object-fit: cover;
}

.main_cartes header {
  height: 300px;
}

.articles_menus {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 80px 80px 0 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: rgb(232, 232, 232);
}

.articles_menus h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-right: 50px;
  padding-left: 20px;
  font-family: 'Shrikhand';
}

.heart-menus {
  position: absolute;
  right: 40px;
  font-size: 20px;
}

.menus {
  width: 100%;
}

.articles_menus h3 {
  padding-left: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.articles_menus h3::after{
  display: flex;
  border-bottom: 3px solid rgb(130, 238, 182);
  padding-top: 5px;
  width: 60px;
  font-size: 0;
  content: "-";
}

.articles_menus ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  padding: 0;
  list-style-type: none;
}

.articles_menus li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
  border-radius: 18px;
  padding: 12px 0 10px 12px;
  width: 90%;
  box-shadow: 5px 5px 3px grey;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

.textes_menus {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.articles_menus h4 {
  margin: 0;
  padding-bottom: 5px; 
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articles_menus p {
  margin: 0 10px 5px 0;
  overflow: hidden;
  font-size: 13px;
  text-overflow: ellipsis;
}

.articles_menus b {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.articles_menus a {
  text-align: center;
  border: none;
  border-radius: 30px;
  padding: 12px 18px 12px 18px;
  background-color: rgb(180, 133, 223);
  box-shadow: 0 5px 5px 5px rgba(128, 128, 128, 0.148);
  color: white;
  text-decoration: none;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

@keyframes liste-menus {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.menus li{
  animation: liste-menus 1s both;
}